
.card {
    padding: 40px 0px;
    border-bottom: 2px solid #ded4d4;
    text-align: center;  
    border-radius: 25px;
    margin-bottom: 15px; 
}

.heading {
    text-align: center;
}

.text-secondary {
    font-size: 12px;
}
 .top-content {
     margin-bottom: 15px;
 }
 .like-btn {
     cursor: pointer;
 }
