.filter {
    margin-bottom: 20px;
}
.filter-by-ingredient {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}
.filter-by-ingredient span{
    float:left;
    font-size: 12px;
    margin-left: 15px;

    text-align: center;
}

.filter-by-ingredient input{
    float: left;
    width: 22%;
    margin-left: 15px;
    text-align: center;
}
.submit-btn {
    margin-top: 5px;
    text-align: center;
}
.close {
    position: absolute;
    margin-top: -4px;
    float: none;
    margin-right: 2px;
  }
.food-filters {
    border: 1px solid;
    padding: 10px;
}
.food-filters span{
    margin-right: 15px;
    font-size: 12px;
    float: left;
}
.food-filters input {
    float: left;
    width: 100%;
    margin-right: 15px;
}