.sticky-dashboard {
    position: fixed;
    top: 20px;
    font-weight: 500;
    font-size: 20px;
    right: 20px;
    z-index: 2;
}
.sticky-dashboard a {
    color: orange;
}
.timer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 15px;
}